<!DOCTYPE html>
<html>
    <head>
    <link rel="stylesheet" href="{{ STATIC_URL }}/static/index.css">
        <title>Привет!</title>
    </head>
    <body>
        <p><img src="https://10.img.avito.st/image/1/1.XOlJQ7a58AB_6jIFfXZExoPg9gr9YPjC-ODyBPXq-gI.2sxNqy4GYgJvxUqvMpi63mAg6YYH00ErwwL8Lnlrps8" alt=""></p>
        <p><h1><font face="Times New Roman">
         Привет, Мир!</font></h1></p>
        <h2>Это учебный сайт, с его помощью будут изучены технологии
            python/django, html/css.</h2>
        <h3>Как видите, здесь используются заголовки различных
            уровней.</h3>
        <p>Здесь есть маркированный список:</p>
        <h4><font size = "25">
    <ul>
            <li>Элемент 1;</li>
            <li>элемент 2;</li>
            <li>элемент 3;</li>
            <li>последний элемент.</li>
        </ul></font>
    </h4>
        <p>И нумерованный список:</p>
        <h4><font size = "10">
    <ol>
            <li>Элемент 1;</li>
            <li>элемент 2;</li>
            <li>элемент 3;</li>
            <li>последний элемент.</li>
        </ol></font>
    </h4>
        <p>И даже таблица:</p>
        </table>
        <table border= 5px solid black>
  <caption>Таблица №1. Пример таблицы HTML</caption>
  <thead>
    <tr>
              <th>Столбец 1</th>
                    <th>Столбец 2</th>
                    <th>Столбец 3</th>
                    <th>Столбец 4</th>
                    <th>Столбец 5</th>
                    <th>Столбец 6</th>
    </tr>
  </thead>



  <tbody>
<tr>

          <td>Строка 1 Столбик 1           </td>
                <td>Строка 1 Столбик 2           </td>
                <td>Строка 1 Столбик 3           </td>
                <td>Строка 1 Столбик 4           </td>
                <td>Строка 1 Столбик 5           </td>
                <td>Строка 1 Столбик 6           </td>
    </tr>
    <tr>
      <td>Строка 2 Столбик 1</td>
                <td>Строка 2 Столбик 2</td>
                <td>Строка 2 Столбик 3</td>
                <td>Строка 2 Столбик 4</td>
                <td>Строка 2 Столбик 5</td>
                <td>Строка 2 Столбик 6</td>
    </tr>
     <tr>
                <td>Строка 3 Столбик 1</td>
                <td>Строка 3 Столбик 2</td>
                <td>Строка 3 Столбик 3</td>
                <td>Строка 3 Столбик 4</td>
                <td>Строка 3 Столбик 5</td>
                <td>Строка 3 Столбик 6</td>
            </tr>
</tr>
                  <tr>
                <td>Строка 4 Столбик 1</td>
                <td>Строка 4 Столбик 2</td>
                <td>Строка 4 Столбик 3</td>
                <td>Строка 4 Столбик 4</td>
                <td>Строка 4 Столбик 5</td>
                <td>Строка 4 Столбик 6</td>
            </tr>
  <tr>
                <td>Строка 5 Столбик 1</td>
                <td>Строка 5 Столбик 2</td>
                <td>Строка 5 Столбик 3</td>
                <td>Строка 5 Столбик 4</td>
                <td>Строка 5 Столбик 5</td>
                <td>Строка 5 Столбик 6</td>
            </tr>
  </tbody>
        </table>
    </body>
</html>